@model JokesWebApp.Models.AddJokeViewModel


@{

}
<h1>Add Jokes</h1>
<form method="post" action="Add" class="mb-5">
    <div class="mb-3">
        <label for="" class=" = " form-label">Joke Question</label>
        <input type="text" class="form-control" asp-for="JokeQuestion">
    </div>
    <div class="mb-3">
        <label for="" class=" = " form-label">Joke Answer</label>
        <input type="text" class="form-control" asp-for="JokeAnswer">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>