@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>THe foremost authoriy for good humor that you will find anywhere on your loacal host.</p>
</div>
